@model IEnumerable<MVC5Course.Models.ViewModels.ProductLite>

@{
    ViewBag.Title = "ProductList";
}

<h2>ProductList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form method="get">
    <label>篩選:</label>
    @Html.TextBox("q")
    <label>庫存:</label>
    @Html.TextBox("sotck")
    <label>價格:</label>
    @Html.TextBox("price")
    <button>搜尋</button>
</form>

@using (@Html.BeginForm("BatchUpdate", "Products"))
{


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
        @{
            var items = Model.ToArray();
        }
        @for(var i=0; i<items.Length;i++)
        {
            <tr>
                @Html.HiddenFor(modelItem => items[i].ProductId)
                <td>
                    @Html.DisplayFor(modelItem => items[i].ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => items[i].ProductName)
                </td>
                <td>
                    @Html.EditorFor(modelItem => items[i].Price)
                </td>
                <td>
                    @Html.EditorFor(modelItem => items[i].Stock)
                </td>
            </tr>
        }

    </table>
    <button>批次更新</button>
}
